<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/mainContent.css">
        <link rel="stylesheet" href="/styles/tweet.css">
        <link rel="stylesheet" href="/styles/navLeft.css">
        <link rel="stylesheet" href="/styles/navRight.css">
    </head>

    <body > 
        
<div class="top-cont">
    <div>
        <div class="nav-left-container">
            <div class="category category-cont-xLogo">
                <img src="/images/twitterLog.png" />
               
               </div>
            <div class="category cont-Home">
                <img src="/images/home1.png" />
                <p  class="nl-text">Home</p>
               </div>
           <div class="category cont-Explore">
               <img src="/images/explore.png" />
            <p  class="nl-text">Explore</p>
           </div>
           <div class="category cont-Notifications" >
              <img src="/images/bell.png" />
            <p class="nl-text"> Notifications</p>
           </div>
           <div class="category cont-Messages">
               <img src="/images/Messages.png" />
            <p class="nl-text"> Messages</p>
           </div>
           <div class="category cont-Lists">
               <img src="/images/List.png" />
            <p class="nl-text">Lists</p>
           </div>
           <div class="category cont-Bookmarks">
               <img src="/images/bookmark.png" />
            <p class="nl-text"> Bookmarks</p>
           </div>
           <div class="category cont-Communities">
            <img src="/images/Communities.png" />
            <p class="nl-text"> Communities</p>
           </div>
           <div class="category cont-Verified">
               <img src="/images/twitterLog.png" />
            <p class="nl-text"> Verified</p>
           </div>
           <div class="category cont-Profile">
               <img src="/images/Profile.png" />
            <p  class="nl-text">Profile</p>
           </div>
           <div class="category cont-More">
               <img src="/images/More.png" />
            <p class="nl-text">More</p>
           </div>
           <div class=" cont-Post">
           <button class="btn-nav-post"></button>
           </div>
          </div>
        </div>

        <div class="mainContainer">

        <nav>
            <div class="nav-middle-Container">
            <div class="home-section">
                 <p>Home</p>
              
            </div>
             
            <div class="top-division">
             <p class="section-1">For you</p>
             <p class="section-2">Following</p>
            </div>
        </div>
        </nav>
    
  
        <main>
       
        <div class="post-container">
       <div class="profile-pic-cont" >
        <img class="profile-pic" src="/images/kristiProfile.jpg" alt="" />
       </div>
       <div class="post-details-cont">
        
        <p class="post-question">
            <input type="text" class="input-post" placeholder="What is happening?!"/>
        </p>
      
        <div class="icons-post-cont"> 
            <div class="post-icons">
                <div class="im-1">
                   <img   src="/images/gallery.png" />
                <p class="floud-media f-media">Media</p>  
                </div>
               <div  class="im-2">
                  <img src="/images/gif.png" />                
               <p class="floud-media f-gif">GIF</p>
               </div>
                 <div class="im-3">
                     <img  src="/images/poll.png " />
                <p class="floud-media f-poll">Poll</p>
                </div>
                 <div class="im-4">
                     <img  src="/images/emoji.png" />
                <p class="floud-media f-emoji">Emoji</p>
                </div>
                 <div class="im-5">  
                    <img  src="/images/schedule.png" />
                <p class="floud-media f-schedule">Schedule</p>
               </div>
               
               
              
                <img class="im-5" src="/images/location.png" />
            </div>
            <div class="btn-cont">
                <button class="btn-post" >Post</button>
            </div>
        </div>
       </div>

        </div>

      <div class="tweets-container">
        <div class="profile-pic-tweet">
            <img class="tweet-profile-pic" src="/images/andrewTate.jpg" />
        </div>
        <div  class="tweet-cont-left">
            <div class="tweet-top-cont">
                <div class="tweet-top-details">
               <p class="tweet-name">Andrew Tate</p>
                <p>
                    <img class="verification-sign" src="/images/verifSign.png" />
                </p>
                <p class="tweet-nickname">@Cobratate</p>
                <p class="tweet-date">·April 13</p>
                </div>
              <div class="more-options">
                ...
              </div>
            </div>
            <div class="tweet-description">
                <p>Andrew Tate now is free #freeTopG</p>
            </div>
            <div class="tweet-photo-cont">
                <img class="tweet-photo" src="/images/tate1.webp" />
            </div>
            <div class="tweet-icons-end">
                <p ><img class="p-1" src="/images/com.png" /><span class="comment-num">80</span></p>
                <p ><img class="p-2" src="/images/repost.png" /><span class="repost-num">85</span></p>
                <p > <img class="p-3" src="/images/like2.png" /><span class="like-num">2,451</span></p>
                <p > <img class="p-4"  src="/images/views.png" /><span class="view-num">975.7k</span></p>
                <p > <img class="p-5" src="/images/share.png" /><span class="share-icon"></span></p>
              
    
            </div>
        </div>

      </div>

      <div class="tweets-container">
        <div class="profile-pic-tweet">
            <img class="tweet-profile-pic" src="/images/andrewTate.jpg" />
        </div>
        <div  class="tweet-cont-left">
            <div class="tweet-top-cont">
                <div class="tweet-top-details">
               <p class="tweet-name">Andrew Tate</p>
                <p>
                    <img class="verification-sign" src="/images/verifSign.png" />
                </p>
                <p class="tweet-nickname">@Cobratate</p>
                <p class="tweet-date">·April 13</p>
                </div>
              <div class="more-options">
                ...
              </div>
            </div>
            <div class="tweet-description">
                <p>Andrew Tate now is free #freeTopG</p>
            </div>
            <div class="tweet-photo-cont">
                <img class="tweet-photo" src="/images/tate1.webp" />
            </div>
            <div class="tweet-icons-end">
                <p ><img class="p-1" src="/images/com.png" /><span class="comment-num">80</span></p>
                <p ><img class="p-2" src="/images/repost.png" /><span class="repost-num">85</span></p>
                <p > <img class="p-3" src="/images/like2.png" /><span class="like-num">2,451</span></p>
                <p > <img class="p-4"  src="/images/views.png" /><span class="view-num">975.7k</span></p>
                <p > <img class="p-5" src="/images/share.png" /><span class="share-icon"></span></p>
              
    
            </div>
        </div>

      </div>
      <div class="tweets-container">
        <div class="profile-pic-tweet">
            <img class="tweet-profile-pic" src="/images/andrewTate.jpg" />
        </div>
        <div  class="tweet-cont-left">
            <div class="tweet-top-cont">
                <div class="tweet-top-details">
               <p class="tweet-name">Andrew Tate</p>
                <p>
                    <img class="verification-sign" src="/images/verifSign.png" />
                </p>
                <p class="tweet-nickname">@Cobratate</p>
                <p class="tweet-date">·April 13</p>
                </div>
              <div class="more-options">
                ...
              </div>
            </div>
            <div class="tweet-description">
                <p>Andrew Tate now is free #freeTopG</p>
            </div>
            <div class="tweet-photo-cont">
                <img class="tweet-photo" src="/images/tate1.webp" />
            </div>
            <div class="tweet-icons-end">
                <p ><img class="p-1" src="/images/com.png" /><span class="comment-num">80</span></p>
                <p ><img class="p-2" src="/images/repost.png" /><span class="repost-num">85</span></p>
                <p > <img class="p-3" src="/images/like2.png" /><span class="like-num">2,451</span></p>
                <p > <img class="p-4"  src="/images/views.png" /><span class="view-num">975.7k</span></p>
                <p > <img class="p-5" src="/images/share.png" /><span class="share-icon"></span></p>
              
    
            </div>
        </div>

      </div>
      <div class="tweets-container">
        <div class="profile-pic-tweet">
            <img class="tweet-profile-pic" src="/images/andrewTate.jpg" />
        </div>
        <div  class="tweet-cont-left">
            <div class="tweet-top-cont">
                <div class="tweet-top-details">
               <p class="tweet-name">Andrew Tate</p>
                <p>
                    <img class="verification-sign" src="/images/verifSign.png" />
                </p>
                <p class="tweet-nickname">@Cobratate</p>
                <p class="tweet-date">·April 13</p>
                </div>
              <div class="more-options">
                ...
              </div>
            </div>
            <div class="tweet-description">
                <p>Andrew Tate now is free #freeTopG</p>
            </div>
            <div class="tweet-photo-cont">
                <img class="tweet-photo" src="/images/tate1.webp" />
            </div>
            <div class="tweet-icons-end">
                <p ><img class="p-1" src="/images/com.png" /><span class="comment-num">80</span></p>
                <p ><img class="p-2" src="/images/repost.png" /><span class="repost-num">85</span></p>
                <p > <img class="p-3" src="/images/like2.png" /><span class="like-num">2,451</span></p>
                <p > <img class="p-4"  src="/images/views.png" /><span class="view-num">975.7k</span></p>
                <p > <img class="p-5" src="/images/share.png" /><span class="share-icon"></span></p>
            </div>
        </div>

      </div>
   

     </main>
    </div>  
    <div class="right-main-cont">
      <div class="search-cont">
        <div class="search-input-cont">
       <input class="search-input" placeholder="Search"  />

        <img src="/images/explore.png" alt="search icon" />
       </div>
      </div>
      <div class="subscribe-cont">
       <p class="subsc-title">Subscribe to Premium</p>
       <p class="subsc-text">Subscribe to unlock new features and if
        eligble, receive a share of ads revenue.
       </p>
       <button class="btn-subsc">Subscribe</button>
      </div>
      <div class="trends-cont">
        <p class="trends-title">Trends for you</p>
        <div class="trends trends-form">
            <div class="trends-left">
                <p class="pt-1">Trending</p>
                <p class="pt-2">Sneako</p>
                <p class="pt-3">15.1k posts</p>
            </div>
            <div class="trends-more">
                <p>...</p>
                <p class="floud-more">More</p>
            </div>
          
        </div>
        <div class="trends trends-form">
            <div class="trends-left">
                <p class="pt-1">Trending</p>
                <p class="pt-2">Sneako</p>
                <p class="pt-3">15.1k posts</p>
            </div>
            <div class="trends-more">
                <p>...</p>
                <p class="floud-more">More</p>
            </div>
          
        </div>

        <div class="trends trends-form">
            <div class="trends-left">
                <p class="pt-1">Trending</p>
                <p class="pt-2">Sneako</p>
                <p class="pt-3">15.1k posts</p>
            </div>
            <div class="trends-more">
                <p>...</p>
                <p class="floud-more">More</p>
            </div>
          
        </div>

        <div class="trends trends-form">
            <div class="trends-left">
                <p class="pt-1">Trending</p>
                <p class="pt-2">Sneako</p>
                <p class="pt-3">15.1k posts</p>
            </div>
            <div class="trends-more">
                <p>...</p>
                <p class="floud-more">More</p>
            </div>
          
        </div>
        <div class="trends trends-form">
            <div class="trends-left">
                <p class="pt-1">Trending</p>
                <p class="pt-2">Sneako</p>
                <p class="pt-3">15.1k posts</p>
            </div>
            <div class="trends-more">
                <p>...</p>
                <p class="floud-more">More</p>
            </div>
          
        </div>
        <div class="trends trends-form">
            <div class="trends-left">
                <p class="pt-1">Trending</p>
                <p class="pt-2">Sneako</p>
                <p class="pt-3">15.1k posts</p>
            </div>
            <div class="trends-more">
                <p>...</p>
                <p class="floud-more">More</p>
            </div>
          
        </div>
        <div class="trends trends-form">
            <div class="trends-left">
                <p class="pt-1">Trending</p>
                <p class="pt-2">Sneako</p>
                <p class="pt-3">15.1k posts</p>
            </div>
            <div class="trends-more">
                <p>...</p>
                <p class="floud-more">More</p>
            </div>
          
        </div>
        <div class="trends trends-form">
            <div class="trends-left">
                <p class="pt-1">Trending</p>
                <p class="pt-2">Sneako</p>
                <p class="pt-3">15.1k posts</p>
            </div>
            <div class="trends-more">
                <p>...</p>
                <p class="floud-more">More</p>
            </div>
          
        </div>
         <div class="btn-showMore-cont">
            <button class="btn-showMore">Show More</button>
         </div>
        </div>
        
     <div class="main-whoToFollow-cont">
        <h3>Who to follow</h3>
        <div class="whoToFollow-cont">
        <div class="whoToFollow-left">
        <div class="whoToFollow-profile-pic">
            <img src="/images/PF11.jpg" alt="profile-pic" />
        </div>
        <div class="whoToFollow-details">
            <p class="toFollow-p1">Hamza Ahmed<span>
                <img class="toFollow-verif-sign" src="/images/verifSign.png" />
            </span></p>
            <p class="toFollow-p2">@HamzaAdoins</p>
        </div>
    </div>
        <div class="whoToFollow-right">
            <button>Follow</button>
        </div>
    </div>
    <div class="whoToFollow-cont">
        <div class="whoToFollow-left">
        <div class="whoToFollow-profile-pic">
            <img src="/images/PF2.jpg" alt="profile-pic" />
        </div>
        <div class="whoToFollow-details">
            <p class="toFollow-p1">Hollie_415<span>
                <img class="toFollow-verif-sign" src="/images/verifSign.png" />
            </span></p>
            <p class="toFollow-p2">@Hollie_415</p>
        </div>
    </div>
        <div class="whoToFollow-right">
            <button>Follow</button>
        </div>
    </div>
    <div class="whoToFollow-cont">
        <div class="whoToFollow-left">
        <div class="whoToFollow-profile-pic">
            <img src="/images/PF3.jpg" alt="profile-pic" />
        </div>
        <div class="whoToFollow-details">
            <p class="toFollow-p1">Jimmy Butler<span>
                <img class="toFollow-verif-sign" src="/images/verifSign.png" />
            </span></p>
            <p class="toFollow-p2">@JimmyButler</p>
        </div>
    </div>
        <div class="whoToFollow-right">
            <button>Follow</button>
        </div>
    </div>
    <div class="btn-showMore-cont">
        <button class="btn-showMore">Show More</button>
     </div>
     </div>


      </div>
    </div>
</div>
    </body>


</html>